
<mat-card class="cart-list">
  <h1>Winkelmandje</h1>

  <div class="product-list mat-elevation-z8" *ngIf="hasData()">
    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="productName">
      <mat-header-cell *matHeaderCellDef>Product</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.productName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef>Prijs</mat-header-cell>
      <mat-cell *matCellDef="let element">€{{ element.price }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="btn" >
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" class="btnright">
        <button mat-mini-fab (click)="removeFromCart(element.id)" color="primary">
          <img src="https://www.materialui.co/materialIcons/action/delete_black_192x192.png" height="25" width="25">
        </button>
      </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
  </div>
  <br>
  <div class="end-container">
    <h3>Totaalprijs: €{{ totalPrice }}</h3>
    <button mat-raised-button (click)="proceedOrder()" class="orderbtn" color="primary">Bestel</button>
  </div>
</mat-card>
