<mat-toolbar color="primary" class="mat-elevation-z5">

    <span routerLink="/" class="clickable">FueledByPhones</span>

    <span class="fill-remaining-space"></span>

    <div *ngIf="authenticated; else notLoged">
      <div *ngIf="admin; then adminTP else guestTP">
        <button mat-raised-button class="mat-accent" (click)="goLogin()">Login</button>
      </div>
    </div>

  <ng-template #notLoged>
      <button mat-raised-button class="mat-accent" (click)="goLogin()">Login</button>
  </ng-template>

  <ng-template #adminTP>
    <button mat-raised-button class="mat-accent" (click)="goHome()">Home</button>
    <button mat-raised-button class="mat-accent" (click)="goProducts()">Producten</button>
    <button mat-raised-button class="mat-accent" (click)="goUsers()">Gebruikers</button>
    <button mat-raised-button class="mat-warn" (click)="logout()">Uitloggen</button>
  </ng-template>
  <ng-template #guestTP>
    <button mat-raised-button class="mat-accent" (click)="goHome()">Home</button>
    <button mat-raised-button class="mat-accent" (click)="goProducts()">Producten</button>
    <button mat-raised-button class="mat-accent" (click)="goCart()">Winkelmandje</button>
    <button mat-raised-button class="mat-warn" (click)="logout()">Uitloggen</button>
  </ng-template>

</mat-toolbar>
