<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Product toevoegen</h1>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <form name="registerForm" #registerForm="ngForm" (ngSubmit)="addProduct()">

      <mat-form-field class="full-width">
        <input matInput type="text" name="name" placeholder="Product naam" required [(ngModel)]="product.productName"
               #productName="ngModel"/>
        <mat-error [hidden]="productName.valid"> Dit veld is niet correct ingevoert</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="text" name="discription" placeholder="beschrijving" required
               [(ngModel)]="product.discription" #discription="ngModel"/>
        <mat-error [hidden]="discription.valid"> Dit veld is niet correct ingevoert</mat-error>
      </mat-form-field>


      <mat-form-field class="full-width">
        <input matInput type="number" name="productPrice" placeholder="prijs" required [(ngModel)]="product.price"
               #streetnumber="ngModel"/>
        <!--<mat-error [hidden]="price.valid"> Dit veld is niet correct ingevoert</mat-error>-->

      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="text" name="pictureLocation" placeholder="Foto locatie (URL)" required
               [(ngModel)]="product.pictureLocation" #pictureLocation="ngModel"/>
        <mat-error [hidden]="pictureLocation.valid"> Dit veld is niet correct ingevoert</mat-error>
      </mat-form-field>

      <button mat-raised-button type="submit" class="mat-primary" [disabled]="!registerForm.valid">Registreren</button>

    </form>
  </mat-card-content>
</mat-card>
