<h1>Users</h1>

<div class="user-list mat-elevation-z8" *ngIf="hasData()">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let user of users">
      <mat-expansion-panel-header>
        <mat-panel-title>{{user.fullName}}</mat-panel-title>
      </mat-expansion-panel-header>

      <span>
          <mat-form-field>
            <input matInput placeholder="volledige naam" [(ngModel)]="user.fullName">
          </mat-form-field>
        </span>

      <span>
          <mat-form-field>
            <input matInput placeholder="postcode" [(ngModel)]="user.postcode">
          </mat-form-field>
        </span>


      <span>
          <mat-form-field>
            <input matInput placeholder="huisnummer" [(ngModel)]="user.streetnumber">
          </mat-form-field>
        </span>


      <span>
          <mat-form-field>
            <input matInput placeholder="emailaddres" [(ngModel)]="user.emailAddress">
          </mat-form-field>
        </span>

      <span>
          <mat-form-field>
            <!--<input matInput placeholder="Role" [(ngModel)]="user.roles">-->
            <mat-select [value]="user.roles" [(ngModel)]="user.roles">
              <mat-option value="ADMIN">ADMIN</mat-option>
              <mat-option value="GUEST">GUEST</mat-option>
            </mat-select>
          </mat-form-field>
        </span>

      <span>
        <mat-action-row>
          <button mat-button color="warn" (click)="remove(user)">Delete</button>
          <button mat-button color="primary" (click)="onSave(user)">Save</button>
        </mat-action-row>
      </span>
    </mat-expansion-panel>
  </mat-accordion>
</div>
