<mat-card class="login-cart">

    <mat-card-header>
        <mat-card-title>
            <h1>Inloggen</h1>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <form name="loginForm" #loginForm="ngForm" (ngSubmit)="login()">

            <mat-form-field class="full-width">
                <input matInput type="email" name="email" placeholder="E-mailadres" required [(ngModel)]="user.emailAddress" #email="ngModel" />
                <mat-error [hidden]="email.valid">
                  Dit veld is niet correct ingevoert
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput type="password" name="password" placeholder="Wachtwoord" required [(ngModel)]="user.password" #password="ngModel" />
                <mat-error [hidden]="password.valid">
                    Dit veld is niet correct ingevoert
                </mat-error>
            </mat-form-field>

            <button mat-raised-button type="submit" class="mat-primary" [disabled]="!loginForm.valid">Inloggen</button>

        </form>

    </mat-card-content>

    <mat-card-actions>
        <a routerLink="/register">Geen account? Registreer je gratis!</a>
    </mat-card-actions>

</mat-card>
