@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./app-theme";
body{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

main {
  padding: 20px;
}

a {
  color: #4286f4;
  text-decoration: none;
}

mat-card {
  margin-top: 20px;
  margin-bottom: 20px;
}

mat-card-title h1 {
  margin: 0px;
  font-size: 20px;
  font-weight: bold;
}

mat-form-field {
  margin-bottom: 5px;
}

.clickable {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.fill-remaining-space {
  flex: 1 1 auto;
}
