<img src="{{ logo }}">

<h1>Welkom {{ userName }}</h1>
<p>
  Hallo, wij zij FueledByPhones en wij zijn een klein bedrijf dat net is begonnen met het verkopen van smartphones.
  U kunt hier zowel samsung telefoons als apple telefoon kopen zonder abonnement.
</p>
<div class="container">
  <mat-card class="example-card" *ngFor="let arr of products">
    <mat-card-header>
      <mat-card-title>{{ arr.productName }} </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{arr.pictureLocation}}" alt="">
    <mat-card-content>
      <p>{{arr.discription}}</p>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="!authenticated">
  Wilt u meer telefoons en prijzen zien log dan snel in!
</div>
