<h1>Telefoons</h1>

<div *ngIf="admin; then adminUser else guestUser"></div>

<ng-template #adminUser>
  <button mat-raised-button color="primary" (click)="goAdd()">Product toevoegen</button>
  <hr>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let product of productsList">
      <mat-expansion-panel-header>
        <mat-panel-title>{{product.productName}}</mat-panel-title>
      </mat-expansion-panel-header>
      <span>
          <mat-form-field>
            <input matInput placeholder="Naam" [(ngModel)]="product.productName">
          </mat-form-field>
        </span>
      <span>
          <mat-form-field>
            <input matInput placeholder="Beschrijving" [(ngModel)]="product.discription">
          </mat-form-field>
        </span>
      <span>
          <mat-form-field>
            <input matInput placeholder="Prijs" [(ngModel)]="product.price">
          </mat-form-field>
        </span>
      <span>
          <mat-form-field>
            <input matInput placeholder="Foto (URL)" [(ngModel)]="product.pictureLocation">
          </mat-form-field>
        </span>
      <span>
        <mat-action-row>
          <button mat-button color="warn" (click)="remove(product)">Delete</button>
          <button mat-button color="primary" (click)="onSave(product)">Save</button>
        </mat-action-row>
      </span>
    </mat-expansion-panel>
  </mat-accordion>
</ng-template>

<ng-template #guestUser>
  <div class="user-list mat-elevation-z8" *ngIf="hasData()">

    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="productName">
        <mat-header-cell *matHeaderCellDef>Product</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.productName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="discription">
        <mat-header-cell *matHeaderCellDef>Beschrijving</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.discription }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef>Prijs</mat-header-cell>
        <mat-cell *matCellDef="let element">€{{ element.price }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="pictureLocation">
        <mat-header-cell *matHeaderCellDef>Foto</mat-header-cell>
        <mat-cell *matCellDef="let element"> <img src="{{ element.pictureLocation }}" height="100 " width="100"></mat-cell>
      </ng-container>

      <ng-container matColumnDef="btn" >
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element" class="btnright"> <button mat-fab color="primary" (click)="addToCart(element.id)"><img src="https://image.flaticon.com/icons/png/512/2/2772.png" height="25" width="25"></button></mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

  </div>

</ng-template>

